body {
  width: 350px;
  height: 400px;
  margin: 0;
  font-family: "Segoe UI", system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #1c1b22;
  color: #fbfbfe;
}

.search-box {
  padding: 10px;
  background: #2b2a33;
  border-bottom: 1px solid #52525e;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #1c1b22;
  color: #fbfbfe;
  border: 1px solid #52525e;
  border-radius: 4px;
}

input:focus {
  outline: 2px solid #0060df;
  border-color: transparent;
}

ul {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

li {
  padding: 10px;
  border-bottom: 1px solid #2b2a33;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 13px;
  color: #fbfbfe;
}

li:hover {
  background-color: #38383d;
  color: white;
}

.footer {
  padding: 10px;
  background: #2b2a33;
  border-top: 1px solid #52525e;
  text-align: center;
}

button {
  width: 100%;
  padding: 8px;
  background: #0060df;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #004bb7;
}
